h1 {
    color:brown;
    border-collapse: separate;

}
table {
    border: 1px solid rgb(30, 233, 98);
}
tr {
    
    border: 1px solid black;
}
th {
    border: 1px solid rgb(241, 28, 28);
}
td {
    border: 1px solid black;
}
th {
    color: rgb(238, 122, 13);
}
td {
    color: blue;
}
.Georgian {
    color: rgb(245, 1, 14);
}
