table {
    border: 2px solid black;
    border-collapse: collapse;
}
tr {
    border: 2px solid black;
}
td {
    border: 2px solid black;
}
th {
    border: 2px solid black;
}
.monday {
    color: tomato;
}
.Georgian {
    color: rgb(245, 1, 14);
}
.math {
    color: #07f313;
}
.geography {
    color: orange;
    }
.german_language {
    color: magenta;
}
.english_language {
    color: yellow;
}
.sport {
    color: black;
}
.art {
    color: bisque;
}
.history {
    color: rgb(19, 95, 9) ;
}
.general_education {
    color: chartreuse;
}
.tutor {
    color: violet;
}